@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
    List<SelectListItem> codeList = new List<SelectListItem>
    {
        new SelectListItem { Text = "DD", Value = "DD", Selected = true },
        new SelectListItem { Text = "YLC", Value = "YLC" },
        new SelectListItem { Text = "V8", Value = "V8" },
        new SelectListItem { Text = "K8", Value = "K8" },
        new SelectListItem { Text = "CXC", Value = "CXC" }
    };

    List<SelectListItem> deviceList = new List<SelectListItem>
    {
        new SelectListItem { Text = "Web", Value = "Web", Selected = true },
        new SelectListItem { Text = "H5", Value = "H5" },
        new SelectListItem { Text = "Android", Value = "Android" },
        new SelectListItem { Text = "IOS", Value = "IOS" }
    };
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        if (!!keyValue) {
            $.ajax({
                url: "/Tesla/Task/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/Tesla/Task/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").resetSelection();
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

    function testLogin() {
        var code = $("#PlatformCode").val();
        var api = $("#PlatformApi").val();
        var userName = $("#UserName").val();
        var pwd = $("#UserPwd").val();
        var device = $("#DeviceType").val();
        var ttip = $("#IP").val();
        if (code == '' || api == '' || userName == '' || pwd == '' || ttip == '') {
            $.alert("参数填写不完整");
            return;
        }

        $.submitForm({
            url: "/Tesla/Task/TestLogin",
            param: { code: code, api: api, userName: userName, pwd: pwd, device: device, ttip: ttip },
            loading: "正在测试...",
            close: false,
            dataType: "json",
            success: function (data) {
                $.loading(false);
            }
        });
    }
</script>

<form id="form1">
    <div class="widget-body">
        <div id="wizard" class="wizard" data-target="#wizard-steps" style="border-left: none; border-top: none; border-right: none;">
            <ul class="steps">
                <li data-target="#step-1" class="active"><span class="step">1</span>基本信息<span class="chevron"></span></li>
            </ul>
        </div>
        <div class="step-content" id="wizard-steps" style="border-left: none; border-bottom: none; border-right: none;">
            <div class="step-pane active" id="step-1" style="margin: 10px; margin-bottom: 0px;">
                <div class="alert alert-danger" style="text-align: left; margin-bottom: 10px;">
                    <i class="fa fa-warning alert-dismissible" style="position: relative; top: 1px; font-size: 15px; padding-right: 5px;"></i>
                    请填写任务基本信息！
                    <a class="btn btn-success" onclick="testLogin()">测试登录</a>
                </div>
                <div class="panel panel-default">
                    <div style="padding-top: 15px;padding-bottom: 15px; margin-right: 30px;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">任务名称</th>
                                <td class="formValue">
                                    <input id="Name" name="Name" type="text" class="form-control required" placeholder="请输入任务名称" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">几点开始</th>
                                <td class="formValue">
                                    <input id="StartHour" name="StartHour" type="text" class="form-control required" placeholder="请输入每日几点开始" />
                                </td>
                                <th class="formTitle">几点结束</th>
                                <td class="formValue">
                                    <input id="EndHour" name="EndHour" type="text" class="form-control required" placeholder="请输入每日几点结束" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">平台代码</th>
                                <td class="formValue">
                                    @Html.DropDownList("PlatformCode", codeList, new { @class = "form-control required", @id = "PlatformCode", @name = "PlatformCode" })
                                </td>
                                <th class="formTitle">接口地址</th>
                                <td class="formValue">
                                    <input id="PlatformApi" name="PlatformApi" type="text" class="form-control required" placeholder="请输入接口地址" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">用户名</th>
                                <td class="formValue">
                                    <input id="UserName" name="UserName" type="text" class="form-control required" placeholder="请输入用户名" />
                                </td>
                                <th class="formTitle">用户密码</th>
                                <td class="formValue">
                                    <input id="UserPwd" name="UserPwd" type="text" class="form-control required" placeholder="请输入用户密码" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">登录IP</th>
                                <td class="formValue">
                                    <input id="IP" name="IP" type="text" class="form-control required" placeholder="请输入登录IP" />
                                </td>
                                <th class="formTitle">设备类型</th>
                                <td class="formValue">
                                    @Html.DropDownList("DeviceType", deviceList, new { @class = "form-control required", @id = "DeviceType", @name = "DeviceType" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

