@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
    List<SelectListItem> codeList = new List<SelectListItem>
    {
        new SelectListItem { Text = "DD", Value = "DD", Selected = true },
        new SelectListItem { Text = "YLC", Value = "YLC" },
        new SelectListItem { Text = "V8", Value = "V8" },
        new SelectListItem { Text = "K8", Value = "K8" },
        new SelectListItem { Text = "CXC", Value = "CXC" }
    };

    List<SelectListItem> deviceList = new List<SelectListItem>
    {
        new SelectListItem { Text = "Web", Value = "Web", Selected = true },
        new SelectListItem { Text = "H5", Value = "H5" },
        new SelectListItem { Text = "Android", Value = "Android" },
        new SelectListItem { Text = "IOS", Value = "IOS" }
    };
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        if (!!keyValue) {
            $.ajax({
                url: "/Tesla/Task/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }

        $('#wizard').wizard().on('change', function (e, data) {
            var $finish = $("#btn_finish");
            var $next = $("#btn_next");
            if (data.direction == "next") {
                switch (data.step) {
                    case 2:
                        if (!$('#form1').formValid()) {
                            return false;
                        }
                        $finish.show();
                        $next.hide();
                        break;
                    default:
                        break;
                }
            } else {
                $finish.hide();
                $next.show();
            }
        });
    });

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/Tesla/Task/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").resetSelection();
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

    function serverLogin() {
        var code = $("#ServerCode").val();
        var api = $("#ServerApi").val();
        var userName = $("#ServerUserName").val();
        var pwd = $("#ServerUserPwd").val();
        var device = $("#ServerDeviceType").val();
        if (code == '' || api == '' || userName == '' || pwd == '') {
            $.alert("参数填写不完整");
            return;
        }

        testLogin(code, api, userName, pwd, device);
    }

    function clientLogin() {
        var code = $("#ClientCode").val();
        var api = $("#ClientApi").val();
        var userName = $("#ClientUserName").val();
        var pwd = $("#ClientUserPwd").val();
        var device = $("#ClientDeviceType").val();
        if (code == '' || api == '' || userName == '' || pwd == '') {
            $.alert("参数填写不完整");
            return;
        }

        testLogin(code, api, userName, pwd, device);
    }

    function testLogin(code, api, userName, pwd, device) {
        $.submitForm({
            url: "/Tesla/Task/TestLogin",
            param: { code: code, api: api, userName: userName, pwd: pwd, device: device },
            loading: "正在测试...",
            close: false,
            dataType: "json",
            success: function (data) {
                $.loading(false);
            }
        });
    }
</script>

<form id="form1">
    <div class="widget-body">
        <div id="wizard" class="wizard" data-target="#wizard-steps" style="border-left: none; border-top: none; border-right: none;">
            <ul class="steps">
                <li data-target="#step-1" class="active"><span class="step">1</span>基本信息<span class="chevron"></span></li>
                <li data-target="#step-2"><span class="step">2</span>服务端<span class="chevron"></span></li>
                <li data-target="#step-3"><span class="step">3</span>客户端<span class="chevron"></span></li>
            </ul>
        </div>
        <div class="step-content" id="wizard-steps" style="border-left: none; border-bottom: none; border-right: none;">
            <div class="step-pane active" id="step-1" style="margin: 10px; margin-bottom: 0px;">
                <div class="alert alert-danger" style="text-align: left; margin-bottom: 10px;">
                    <i class="fa fa-warning alert-dismissible" style="position: relative; top: 1px; font-size: 15px; padding-right: 5px;"></i>
                    请填写任务基本信息！
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">基本信息</h3>
                    </div>
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">任务名称</th>
                                <td class="formValue">
                                    <input id="Name" name="Name" type="text" class="form-control required" placeholder="请输入任务名称" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">单注金额</th>
                                <td class="formValue">
                                    <input id="SingleMoney" name="SingleMoney" type="text" class="form-control required" placeholder="请输入单注金额" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">每日几点开始</th>
                                <td class="formValue">
                                    <input id="StartHour" name="StartHour" type="text" class="form-control required" placeholder="请输入每日几点开始" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">每日几点结束</th>
                                <td class="formValue">
                                    <input id="EndHour" name="EndHour" type="text" class="form-control required" placeholder="请输入每日几点结束" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">服务端号码数下限</th>
                                <td class="formValue">
                                    <input id="ServerMinNumCount" name="ServerMinNumCount" type="text" class="form-control required" placeholder="请输入服务端号码数下限" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">服务端号码数上限</th>
                                <td class="formValue">
                                    <input id="ServerMaxNumCount" name="ServerMaxNumCount" type="text" class="form-control required" placeholder="请输入服务端号码数上限" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="step-pane" id="step-2">
                <div class="alert alert-danger" style="text-align: left; margin-bottom: 10px;">
                    <i class="fa fa-warning alert-dismissible" style="position: relative; top: 1px; font-size: 15px; padding-right: 5px;"></i>
                    请填写任务服务端信息！
                    <a class="btn btn-success" onclick="serverLogin()">测试登录</a>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">服务端信息</h3>
                    </div>
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">平台代码</th>
                                <td class="formValue">
                                    @Html.DropDownList("ServerCode", codeList, new { @class = "form-control required", @id = "ServerCode", @name = "ServerCode" })
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">接口地址</th>
                                <td class="formValue">
                                    <input id="ServerApi" name="ServerApi" type="text" class="form-control required" placeholder="请输入接口地址" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">用户名</th>
                                <td class="formValue">
                                    <input id="ServerUserName" name="ServerUserName" type="text" class="form-control required" placeholder="请输入用户名" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">用户密码</th>
                                <td class="formValue">
                                    <input id="ServerUserPwd" name="ServerUserPwd" type="text" class="form-control required" placeholder="请输入用户密码" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">设备类型</th>
                                <td class="formValue">
                                    @Html.DropDownList("ServerDeviceType", deviceList, new { @class = "form-control required", @id = "ServerDeviceType", @name = "ServerDeviceType" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="step-pane" id="step-3">
                <div class="alert alert-danger" style="text-align: left; margin-bottom: 10px;">
                    <i class="fa fa-warning alert-dismissible" style="position: relative; top: 1px; font-size: 15px; padding-right: 5px;"></i>
                    请填写任务客户端信息！
                    <a class="btn btn-success" onclick="clientLogin()">测试登录</a>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">客户端信息</h3>
                    </div>
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">平台代码</th>
                                <td class="formValue">
                                    @Html.DropDownList("ClientCode", codeList, new { @class = "form-control required", @id = "ClientCode", @name = "ClientCode" })
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">接口地址</th>
                                <td class="formValue">
                                    <input id="ClientApi" name="ClientApi" type="text" class="form-control required" placeholder="请输入接口地址" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">用户名</th>
                                <td class="formValue">
                                    <input id="ClientUserName" name="ClientUserName" type="text" class="form-control required" placeholder="请输入用户名" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">用户密码</th>
                                <td class="formValue">
                                    <input id="ClientUserPwd" name="ClientUserPwd" type="text" class="form-control required" placeholder="请输入用户密码" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">设备类型</th>
                                <td class="formValue">
                                    @Html.DropDownList("ClientDeviceType", deviceList, new { @class = "form-control required", @id = "ClientDeviceType", @name = "ClientDeviceType" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-button" id="wizard-actions">
            <a id="btn_last" disabled class="btn btn-default btn-prev">上一步</a>
            <a id="btn_next" class="btn btn-default btn-next">下一步</a>
            <a id="btn_finish" class="btn btn-default" style="display: none;" onclick="submitForm()">完成</a>
        </div>
    </div>
</form>

