@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
    });
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/Tesla/AppUser/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: "主键", name: "ID", hidden: true, key: true },
                { label: '注册时间', name: 'CreateTime', width: 120, align: 'left' },
                { label: '用户名', name: 'UserName', width: 60, align: 'left' },
                { label: '密码', name: 'Password', width: 80, align: 'left', sortable: false },
                { label: '支付密码', name: 'WithdrawPwd', width: 80, align: 'left', sortable: false },
                { label: '真实姓名', name: 'RealName', width: 100, align: 'left', sortable: false },
                { label: '电话', name: 'CellPhone', width: 100, align: 'left', sortable: false },
                { label: '平台ID', name: 'PlatformId', width: 300, align: 'left', sortable: false },
                { label: '平台名称', name: 'PlatformName', width: 60, align: 'left', sortable: false },
                { label: '注册IP', name: 'IP', width: 100, align: 'left', sortable: false },
                { label: '客户端类型', name: 'ClientType', width: 100, align: 'left', sortable: false },
                { label: '接口地址', name: 'Api', width: 100, align: 'left', sortable: false },
            ],
            pager: "#gridPager",
            sortname: 'ID desc',
            viewrecords: true
        });

        $("#btn_search").click(function () {
            var queryJson = {
                Name: $("#txt_keyword").val()
            };

            $gridList.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }
            }).trigger('reloadGrid');
        });
    }

    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "注册",
            url: "/Tesla/AppUser/Form",
            width: "650px",
            height: "500px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

    function btn_balance() {
        var keyValue = $("#gridList").jqGridRowValue().ID;
        $.submitForm({
            url: "/Tesla/AppUser/GetBalance",
            param: { keyValue: keyValue },
            loading: "正在获取...",
            success: function () {
                $.loading(false);
            }
        });
    }

    function btn_pay() {
        var keyValue = $("#gridList").jqGridRowValue().ID;
        $.submitForm({
            url: "/Tesla/AppUser/Pay",
            param: { keyValue: keyValue },
            loading: "正在请求...",
            success: function () {
                $.loading(false);
            }
        });
    }

    function btn_withdraw() {
        var keyValue = $("#gridList").jqGridRowValue().ID;
        $.submitForm({
            url: "/Tesla/AppUser/Withdraw",
            param: { keyValue: keyValue },
            loading: "正在请求...",
            success: function () {
                $.loading(false);
            }
        });
    }

</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary" onclick="btn_add()"><i class="fa fa-plus"></i>注册</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-balance" authorize="yes" onclick="btn_balance()"><i class="fa fa-yen"></i>余额</a></li>
                <li><a id="NF-pay" authorize="yes" onclick="btn_pay()"><i class="fa fa-yen"></i>充值</a></li>
                <li><a id="NF-withdraw" authorize="yes" onclick="btn_withdraw()"><i class="fa fa-yen"></i>提现</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
