<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MysqlConnectionString" connectionString="Server=127.0.0.1;Database=tesla;Uid=root;Pwd=wangwust;charset=utf8" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- ================== 1：开发系统相关配置 ================== -->
    <!--RabbitMQ配置-->
    <add key="RabbitMQ" value="host=127.0.0.1;port=5672;virtualhost=/;username=guest;password=guest"/>

    <!-- ================== 2：外部邮件参数 ================== -->
    <!-- 设置邮箱名称 -->
    <add key="MailName" value="琪琪" />
    <!-- 设置邮箱地址 -->
    <add key="MailUserName" value="sendbug@robo.cn" />
    <!-- 设置邮箱密码 -->
    <add key="MailPassword" value="123456" />
    <!-- 设置邮箱主机 -->
    <add key="MailHost" value="smtp.163.com" />
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>