<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!--启用IP过滤 -->
  <add key="IsIPFilter" value="false" />
  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.robo.cn" />
  <!-- 软件名称 -->
  <add key="SoftName" value="Tesla控制中心" />
  <!-- 软件版本 -->
  <add key="Version" value="1.0" />
  <!-- 软件授权码 测试备用 -->
  <add key="LicenceKey" value="83eda07f-ead3-4050-bcee-4f41e57a7e16" />
  <!-- ================== 3：外部邮件参数 ================== -->
  <!-- 设置邮箱名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 设置邮箱地址 -->
  <add key="MailUserName" value="sendbug@robo.cn" />
  <!-- 设置邮箱密码 -->
  <add key="MailPassword" value="123456" />
  <!-- 设置邮箱主机 -->
  <add key="MailHost" value="smtp.ym.163.com" />

  <add key="大地网址" value="https://ddcp1.com/"/>
  <add key="优乐彩网址" value="https://7697c.com/"/>
  <add key="V8网址" value="https://www.v8000111.com/"/>
  <add key="K8网址" value="https://www.k85b.com/"/>
  <add key="诚信彩网址" value="https://cxc00.com/"/>

  <add key="大地接口" value="https://pay.ddjiekou.com"/>
  <add key="优乐彩接口" value="https://api.ylcjiekou.com"/>
  <add key="V8接口" value="https://api.v8jiekou.com"/>
  <add key="K8接口" value="https://api.k8jiekou.com"/>
  <add key="诚信彩接口" value="https://api.hongkongapi.com/"/>
</appSettings>